@model Validations.Models.Employee
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
@using (Html.BeginForm())
{
<table class="table table-bordered">
    <tr>
        <td> @Html.DisplayNameFor(m => m.Id)</td>
        <td> @Html.EditorFor(m => m.Id) </td>
        <td> @Html.ValidationMessageFor(m => m.Id) </td>
    </tr>
    <tr>
        <td> @Html.DisplayNameFor(m => m.Name)</td>
        <td> @Html.EditorFor(m => m.Name) </td>
        <td> @Html.ValidationMessageFor(m => m.Name) </td>
    </tr>
    <tr>
        <td> @Html.DisplayNameFor(m => m.Email)</td>
        <td> @Html.EditorFor(m => m.Email) </td>
        <td> @Html.ValidationMessageFor(m => m.Email) </td>
    </tr>
    <tr>
        <td> @Html.DisplayNameFor(m => m.Mobile)</td>
        <td> @Html.EditorFor(m => m.Mobile) </td>
        <td> @Html.ValidationMessageFor(m => m.Mobile) </td>
    </tr>
    <tr>
        <td> @Html.DisplayNameFor(m => m.Uname)</td>
        <td> @Html.EditorFor(m => m.Uname) </td>
        <td> @Html.ValidationMessageFor(m => m.Uname) </td>
    </tr>
    <tr>
        <td> @Html.DisplayNameFor(m => m.Pwd)</td>
        <td> @Html.EditorFor(m => m.Pwd) </td>
        <td> @Html.ValidationMessageFor(m => m.Pwd) </td>
    </tr>
    <tr>
        <td> @Html.DisplayNameFor(m => m.Cpwd)</td>
        <td> @Html.EditorFor(m => m.Cpwd) </td>
        <td> @Html.ValidationMessageFor(m => m.Cpwd) </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Login" />
        </td>
    </tr>
</table>
}