@model IEnumerable<ProjectMVC.Models.Seller>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Companyname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contactno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Companyname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contactno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Sid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Sid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Sid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
