@model Employee;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    @*<h1>Employee</h1>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>name</td>
            <td>email</td>
            <td>dept</td>
        </tr>*@
        <@*tr>
            <td>@ViewBag.id</td>
            <td>@ViewBag.Name</td>
            <td>@ViewBag.Email</td>
            <td>@ViewBag.Dept</td>
        </tr>*@ @*<tr>
            <td> @ViewData["id"] </td>
            <td> @ViewData["Name"] </td>
            <td> @ViewData["Email"] </td>
            <td> @ViewData["Dept"] </td>
        </tr>*@
    @*</table>*@
    <h1>Employee</h1>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>name</td>
            <td>email</td>
            <td>dept</td>
        </tr>
        @{ 
            var emp = ViewData["Employ"] as CoreDemo.Models.Employee;
        }
        </table>
</body>
</html>
